/* Direction Nav */
.flexslider .slides > li { position: relative; }
.flex-direction-nav a:before  { 
	font-family:'fontello'; 
	content: '\e0CD';
	line-height: 40px; 
}
.flex-direction-nav a.flex-next:before  { content: '\e0CC'; }
.flex-control-paging li a {
	border-radius: 0;
	width: 27px;
	height: 12px;
	background: #0c7401;
	background: rgba(12,116,1,0.5);
}
.flex-control-paging li a.flex-active {
	background: #0c7401;
	background: rgba(12,116,1,0.9);
}
.flex-caption {
	width:100%;
	padding:2.5%;
	position:absolute;
	left:0;
	bottom:0;
	background:#000000;
	background:rgba(0,0,0,0.3);
	color:#fff;
	text-align:center;
	text-shadow:0 1px 0 rgba(0,0,0,0.3);
	font-size:14px;
	line-height:18px; 
	margin-bottom:0;
}
.flex-caption p { margin-bottom: 0; }

/* Home slider */
#home-slider { margin-bottom: 20px; }
#home-slider .flex-caption {
	background:#ffffff;
	background:rgba(255,255,255,0.7);
}
#home-slider .flex-caption p { 
	width: 620px;
	float: left;
	color:#0c7401; 
	text-align: left;
}
#home-slider .flex-caption .learn-more { 
	float: right; 
	width: 176px;
}

/* Client slide */
#client-post { 
	border: none; 
	box-shadow: none;
}


